body {
  background-color: rgba(173, 214, 173, 0.18);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

::placeholder {
  color: white;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
