<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASE-IOS-APP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B529DC8F2CE764E100B91956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B529DC9F2CE764E300B91956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B529DCA92CE764E300B91956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
