<div class="container">
  <div class="screen">
    <div class="screen__content-wrapper">

      <!-- Login Section -->
      <div class="screen__content screen__content--login">
        <h1>Welcome to YATTT</h1>
        <h4>Sign In</h4>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
          <div class="login__field">
            <input formControlName="username" type="text" placeholder="Enter your username" class="login__input">
            <div *ngIf="loginForm.controls['username'].invalid"></div>
          </div>
          <div class="login__field">
            <input formControlName="password" type="password" placeholder="Enter your password" class="login__input">
            <div *ngIf="loginForm.controls['password'].invalid"></div>
          </div>
          <button type="submit" [disabled]="loginForm.invalid">Log in</button>
          <div *ngIf="errorMessageSignIn">
            <p class="errorMessage">{{ errorMessageSignIn }}</p>
          </div>
        </form>
      </div>

      <!-- Register Section -->
      <div class="screen__content screen__content--signin">
        <h1>New Here?</h1>
        <h4>Sign Up</h4>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="login__field">
            <input formControlName="username" type="text" placeholder="Enter your username" class="login__input">
          </div>
          <div class="login__field">
            <input formControlName="password" type="password" placeholder="Create a password" class="login__input" required minlength="8">
          </div>
          <div *ngIf="registerForm.controls['password'].hasError('minlength')">
            <p class="errorMessage">Password must be at least 8 characters long.</p>
          </div>
          <button type="submit" [disabled]="registerForm.invalid">Register</button>
          <div *ngIf="errorMessageRegister">
            <p class="errorMessage">{{ errorMessageRegister }}</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
