<div class="container">
  <div class="screen">
      <h1>Welcome to YATT</h1>
    <div class="screen__content">
       <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
        <div class="login__field">
          <input formControlName="username" type="text" placeholder="Enter your username" class="login__input">
          <div *ngIf="loginForm.controls['username'].invalid"></div>
        </div>
        <div class="login__field">
          <input formControlName="password" type="password" placeholder="Enter your password" class="login__input">
          <div *ngIf="loginForm.controls['password'].invalid"></div>
        </div>
         <button type="submit" [disabled]="loginForm.invalid">Log in</button>
         <div *ngIf="errorMessage">
           <p style="color: red;">{{ errorMessage }}</p>
         </div>
       </form>
    </div>
  </div>
</div>
